/* Header */  

header{
  display: flex;
  background-color: white;
  border-bottom: 3px lightgray solid;
  width: 100%;
  height: 80px;
  align-items: center;
}
nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#div-btn-2{
  margin-left: 5%;
  color: black;
  height: 100%;
}
#btn-inicio, #btn-sobre, #btn-logout{
  font-size: 1.3em;
  color: black;
  height: 100%;
  background-color: white;
  border-radius: 0;
  width: 120px;
}
#btn-logout{
  margin-left: 67%;
}
#btn-inicio:hover, #btn-sobre:hover, #btn-logout:hover{
  color: rgb(0, 85, 0);
  border-bottom: 3px rgb(0, 188, 0) solid;
  transform: translateY(1px);
  background-color: rgb(249, 249, 249);
}
#btn-logout:hover{
    transform: translateY(2px);
}
#btn-inicio:active, #btn-sobre:active, #btn-logout:active{
  transform: translateX(1px);
}
#logo{
  width: 200px;
  margin-left: 10%;
  display: flex;
}
