#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#div-card{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
}
#card{
  margin-top: 20px;
  border: 1px black solid;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  width: 320px;
}
#flag-img{
  border-radius: 5px;
  max-height: 200px;
  border: 2px rgb(233, 233, 233) solid;
}
#span-card{
  width: 40%;
  display: flex;
  flex-direction: row;
}
#div1{
  width: 100%;
  display: flex;
  flex-direction: row;
}
span{
  display: flex;
  justify-content: start;
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
  gap: 20px;
}
input{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-align: center;
}
hr{
  border: 1px dashed lightgray
}